<div class="jumbotron">
  <h1>Welcome to Food Recs</h1>
  <p>An online community where friends can post and discover cool food spots</p>
  <p><%= link_to "Login", login_path, :class => "btn btn-primary btn-lg" %> or <%= link_to "Sign Up", new_user_path, :class => "btn btn-primary btn-lg" %></p>
</div>
